# Data Cleaning Process

### Pedro Antonio Ramonetti
### UCID: 12324731

For this project, I'm using data that was collected by the National Institute of Statistics and Geography  of Mexico, to understand the impact of COVID-19 on Mexican Education.

The files that are going to be cleaned are the following (both can be found in the raw data folder):

* TMODULO.csv: This file captures the surveys that were individually collected for each student in the sample. Most of these surveys were answered by a relative who was found to be in the house at the moment of the survey.
* TVIVIENDA.csv: This file captures the surveys collected at household level.

## Household Data Cleaning

In [1]:
import pandas as pd
import numpy as np

# First, I read the data.

df_household = pd.read_csv("raw_data/TVIVIENDA.csv", low_memory = False)

# Drop variables that are not gonna be used. These variables counts the members of the household (not useful for us).

df_household.drop(df_household.iloc[:, 1:29], inplace=True, axis=1)

In [2]:
# Rename column to identify them more easily. The question ask if the household has the following goods

df_household.rename(columns = {'P2_1_1':"P2_desktop", 'P2_1_2':"P2_laptop", 'P2_1_3':"P2_tv", 
                     'P2_1_4':"P2_tablet", 'P2_1_5':"P2_smartphone", 'P2_1_6':"P2_internet"}, inplace = True)

# I dont't have use for the following variables:
df_household.drop(df_household.iloc[:, 7:15], inplace=True, axis=1)
df_household

,ENT,P2_desktop,P2_laptop,P2_tv,P2_tablet,P2_smartphone,P2_internet,P4_1_8,P4_2_1,P4_2_2,...,P4_3_1,P4_3_2,P4_3_3,P4_3_4,P4_3_5,P4_3_6,P4_3_7,P4_3_8,P4_3_9,FACTOR
0,1,2.0,1.0,1.0,2.0,1.0,2.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1374
1,1,2.0,1.0,1.0,1.0,1.0,1.0,2.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,887
2,1,2.0,1.0,1.0,1.0,1.0,1.0,2.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1450
3,1,2.0,1.0,1.0,2.0,1.0,1.0,2.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,941
4,1,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5467,32,2.0,2.0,2.0,2.0,1.0,1.0,2.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1659
5468,32,2.0,2.0,2.0,2.0,1.0,2.0,2.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2403
5469,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3857
5470,32,2.0,2.0,1.0,2.0,1.0,2.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1716
5471,32,2.0,1.0,1.0,2.0,1.0,1.0,2.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1154

In [3]:
# I'm saving the following columns in a different df, since the number of missing values is different. These 
# questions have to do with the advantages and disavantages of remote classes. Not really sure if I'm using them

df_household_2 = df_household.drop(columns=["P2_desktop","P2_laptop", "P2_tv", "P2_tablet", "P2_smartphone", "P2_internet"])

# Now I drop them from the original df
df_household.drop(df_household.iloc[:, 7:27], inplace=True, axis=1)

#Drop NA's
df_household = df_household.dropna()
df_household

,ENT,P2_desktop,P2_laptop,P2_tv,P2_tablet,P2_smartphone,P2_internet,FACTOR
0,1,2.0,1.0,1.0,2.0,1.0,2.0,1374
1,1,2.0,1.0,1.0,1.0,1.0,1.0,887
2,1,2.0,1.0,1.0,1.0,1.0,1.0,1450
3,1,2.0,1.0,1.0,2.0,1.0,1.0,941
4,1,2.0,2.0,2.0,2.0,1.0,2.0,1303
...,...,...,...,...,...,...,...,...
5466,32,2.0,2.0,2.0,2.0,1.0,1.0,1923
5467,32,2.0,2.0,2.0,2.0,1.0,1.0,1659
5468,32,2.0,2.0,2.0,2.0,1.0,2.0,2403
5470,32,2.0,2.0,1.0,2.0,1.0,2.0,1716
5471,32,2.0,1.0,1.0,2.0,1.0,1.0,1154

In [4]:
# Make variables into an appropiate dummy format

for (_, colname) in enumerate(df_household):
    if colname=="ENT" or colname=="FACTOR":
        continue
    else:
        df_household.loc[df_household[colname] == 2, colname] = 0
        
df_household

,ENT,P2_desktop,P2_laptop,P2_tv,P2_tablet,P2_smartphone,P2_internet,FACTOR
0,1,0.0,1.0,1.0,0.0,1.0,0.0,1374
1,1,0.0,1.0,1.0,1.0,1.0,1.0,887
2,1,0.0,1.0,1.0,1.0,1.0,1.0,1450
3,1,0.0,1.0,1.0,0.0,1.0,1.0,941
4,1,0.0,0.0,0.0,0.0,1.0,0.0,1303
...,...,...,...,...,...,...,...,...
5466,32,0.0,0.0,0.0,0.0,1.0,1.0,1923
5467,32,0.0,0.0,0.0,0.0,1.0,1.0,1659
5468,32,0.0,0.0,0.0,0.0,1.0,0.0,2403
5470,32,0.0,0.0,1.0,0.0,1.0,0.0,1716
5471,32,0.0,1.0,1.0,0.0,1.0,1.0,1154

In [5]:
# Specify the regions in our data

northwest=[2,3,8,10,25,26]
northeast=[5,19,28]
west=[6,14,16,18]
east=[13,21,29,30]
northcenter=[1,11,22,24,32]
southcenter=[9,15,17]
southeast=[4,23,27,31]
southwest=[7,12,20]

df_household["Region"] = "Northwest"
df_household["Region"] = np.where(df_household['ENT'].isin(northeast),'Northeast', df_household["Region"])
df_household["Region"] = np.where(df_household['ENT'].isin(west),'West', df_household["Region"])
df_household["Region"] = np.where(df_household['ENT'].isin(east),'East', df_household["Region"])
df_household["Region"] = np.where(df_household['ENT'].isin(northcenter),'Northcenter', df_household["Region"])
df_household["Region"] = np.where(df_household['ENT'].isin(southcenter),'Southcenter', df_household["Region"])
df_household["Region"] = np.where(df_household['ENT'].isin(southeast),'Southeast', df_household["Region"])
df_household["Region"] = np.where(df_household['ENT'].isin(southwest),'southwest', df_household["Region"])

df_household_2["Region"] = "Northwest"
df_household_2["Region"] = np.where(df_household_2['ENT'].isin(northeast),'Northeast', df_household_2["Region"])
df_household_2["Region"] = np.where(df_household_2['ENT'].isin(west),'West', df_household_2["Region"])
df_household_2["Region"] = np.where(df_household_2['ENT'].isin(east),'East', df_household_2["Region"])
df_household_2["Region"] = np.where(df_household_2['ENT'].isin(northcenter),'Northcenter', df_household_2["Region"])
df_household_2["Region"] = np.where(df_household_2['ENT'].isin(southcenter),'Southcenter', df_household_2["Region"])
df_household_2["Region"] = np.where(df_household_2['ENT'].isin(southeast),'Southeast', df_household_2["Region"])
df_household_2["Region"] = np.where(df_household_2['ENT'].isin(southwest),'southwest', df_household_2["Region"])

C:\Users\pramo\AppData\Local\Temp\ipykernel_19260\806503018.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_household["Region"] = "Northwest"
C:\Users\pramo\AppData\Local\Temp\ipykernel_19260\806503018.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_household["Region"] = np.where(df_household['ENT'].isin(northeast),'Northeast', df_household["Region"])
C:\Users\pramo\AppData\Local\Temp\ipykernel_19260\806503018.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_household["Region"] = np.where(df_household['ENT'].isin(west),'West', df_household["Region"])
C:\Users\pramo\AppData\Local\Temp\ipykernel_19260\806503018.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_household["Region"] = np.where(df_household['ENT'].isin(east),'East', df_household["Region"])
C:\Users\pramo\AppData\Local\Temp\ipykernel_19260\806503018.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_household["Region"] = np.where(df_household['ENT'].isin(northcenter),'Northcenter', df_household["Region"])
C:\Users\pramo\AppData\Local\Temp\ipykernel_19260\806503018.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_household["Region"] = np.where(df_household['ENT'].isin(southcenter),'Southcenter', df_household["Region"])
C:\Users\pramo\AppData\Local\Temp\ipykernel_19260\806503018.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_household["Region"] = np.where(df_household['ENT'].isin(southeast),'Southeast', df_household["Region"])
C:\Users\pramo\AppData\Local\Temp\ipykernel_19260\806503018.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_household["Region"] = np.where(df_household['ENT'].isin(southwest),'southwest', df_household["Region"])

In [14]:
# Before saving our dataset, let's weight the answers of the main questions
cols =["P2_desktop","P2_laptop", "P2_tv", "P2_tablet", "P2_smartphone", "P2_internet"]

for col in cols:
    colname = col+"_w"
    df_household[colname] = df_household[col] * df_household["FACTOR"]

# Finally, let's group our main df

df_household = df_household.groupby(["ENT","Region"]).sum()

# We save our df's. As I mentioned, not really sure if using the second one

df_household.to_csv("household_clean.csv", index = True)
df_household_2.to_csv("household_2_clean.csv", index = False)

df_household

,,P2_desktop,P2_laptop,P2_tv,P2_tablet,P2_smartphone,P2_internet,FACTOR,P2_desktop_w,P2_laptop_w,P2_tv_w,P2_tablet_w,P2_smartphone_w,P2_internet_w
ENT,Region,,,,,,,,,,,,,
1,Northcenter,62.0,104.0,172.0,65.0,209.0,167.0,286576,17767712.0,29803904.0,49291072.0,18627440.0,59894384.0,47858192.0
2,Northwest,44.0,74.0,124.0,35.0,136.0,123.0,795151,34986644.0,58841174.0,98598724.0,27830285.0,108140536.0,97803573.0
3,Northwest,22.0,51.0,95.0,25.0,114.0,82.0,193859,4264898.0,9886809.0,18416605.0,4846475.0,22099926.0,15896438.0
4,Southeast,41.0,90.0,137.0,48.0,169.0,118.0,193629,7938789.0,17426610.0,26527173.0,9294192.0,32723301.0,22848222.0
5,Northeast,25.0,67.0,122.0,40.0,147.0,112.0,632127,15803175.0,42352509.0,77119494.0,25285080.0,92922669.0,70798224.0
6,West,25.0,42.0,82.0,25.0,84.0,68.0,164410,4110250.0,6905220.0,13481620.0,4110250.0,13810440.0,11179880.0
7,southwest,20.0,51.0,109.0,27.0,161.0,71.0,975002,19500040.0,49725102.0,106275218.0,26325054.0,156975322.0,69225142.0
8,Northwest,41.0,86.0,144.0,46.0,173.0,133.0,796027,32637107.0,68458322.0,114627888.0,36617242.0,137712671.0,105871591.0
9,Southcenter,46.0,74.0,136.0,39.0,154.0,126.0,1853176,85246096.0,137135024.0,252031936.0,72273864.0,285389104.0,233500176.0
10,Northwest,35.0,75.0,155.0,44.0,175.0,120.0,381980,13369300.0,28648500.0,59206900.0,16807120.0,66846500.0,45837600.0
11,Northcenter,8.0,25.0,41.0,14.0,59.0,40.0,1127052,9016416.0,28176300.0,46209132.0,15778728.0,66496068.0,45082080.0
12,southwest,21.0,40.0,88.0,14.0,121.0,79.0,742019,15582399.0,29680760.0,65297672.0,10388266.0,89784299.0,58619501.0
13,East,22.0,47.0,72.0,26.0,103.0,73.0,519425,11427350.0,24412975.0,37398600.0,13505050.0,53500775.0,37918025.0
14,West,32.0,51.0,81.0,35.0,114.0,92.0,1684885,53916320.0,85929135.0,136475685.0,58970975.0,192076890.0,155009420.0
15,Southcenter,51.0,69.0,139.0,35.0,162.0,141.0,3487972,177886572.0,240670068.0,484828108.0,122079020.0,565051464.0,491804052.0
16,West,30.0,64.0,108.0,34.0,143.0,102.0,919921,27597630.0,58874944.0,99351468.0,31277314.0,131548703.0,93831942.0
17,Southcenter,24.0,71.0,121.0,40.0,162.0,127.0,423812,10171488.0,30090652.0,51281252.0,16952480.0,68657544.0,53824124.0
18,West,29.0,78.0,139.0,51.0,180.0,129.0,282489,8192181.0,22034142.0,39265971.0,14406939.0,50848020.0,36441081.0
19,Northeast,31.0,53.0,97.0,38.0,105.0,92.0,1119820,34714420.0,59350460.0,108622540.0,42553160.0,117581100.0,103023440.0
20,southwest,20.0,46.0,86.0,15.0,123.0,72.0,741610,14832200.0,34114060.0,63778460.0,11124150.0,91218030.0,53395920.0
21,East,34.0,44.0,79.0,28.0,99.0,81.0,1207811,41065574.0,53143684.0,95417069.0,33818708.0,119573289.0,97832691.0
22,Northcenter,39.0,54.0,97.0,27.0,101.0,89.0,411021,16029819.0,22195134.0,39869037.0,11097567.0,41513121.0,36580869.0
23,Southeast,16.0,44.0,78.0,18.0,101.0,75.0,406611,6505776.0,17890884.0,31715658.0,7318998.0,41067711.0,30495825.0
24,Northcenter,23.0,41.0,81.0,26.0,92.0,63.0,569562,13099926.0,23352042.0,46134522.0,14808612.0,52399704.0,35882406.0
25,Northwest,23.0,68.0,111.0,35.0,147.0,95.0,616092,14170116.0,41894256.0,68386212.0,21563220.0,90565524.0,58528740.0
26,Northwest,26.0,58.0,72.0,23.0,99.0,69.0,627523,16315598.0,36396334.0,45181656.0,14433029.0,62124777.0,43299087.0
27,Southeast,16.0,32.0,71.0,18.0,90.0,45.0,514011,8224176.0,16448352.0,36494781.0,9252198.0,46260990.0,23130495.0
28,Northeast,15.0,39.0,93.0,21.0,108.0,73.0,837858,12567870.0,32676462.0,77920794.0,17595018.0,90488664.0,61163634.0
29,East,52.0,100.0,165.0,24.0,224.0,160.0,255171,13268892.0,25517100.0,42103215.0,6124104.0,57158304.0,40827360.0
30,East,24.0,46.0,90.0,25.0,120.0,76.0,1514357,36344568.0,69660422.0,136292130.0,37858925.0,181722840.0,115091132.0
31,Southeast,25.0,76.0,131.0,34.0,182.0,117.0,460803,11520075.0,35021028.0,60365193.0,15667302.0,83866146.0,53913951.0
32,Northcenter,41.0,68.0,139.0,31.0,158.0,93.0,342543,14044263.0,23292924.0,47613477.0,10618833.0,54121794.0,31856499.0

## Individuals Data Cleaning

In [7]:
# First, I read the data.

df = pd.read_csv("raw_data/TMODULO.csv", low_memory = False)

In [8]:
# All of the following columns are dummy variables, that are not correctly codified. We are also gonna weight them

dummies = ["P3_5","P3_6","P3_7","P3_8","P3_9_1","P3_9_2","P3_9_3","P3_9_4",
"P3_9_5","P3_9_6","P3_9_7","P3_9_8","P3_9_9","P3_11","P3_12_1",
"P3_12_2","P3_12_3","P3_12_4","P3_12_5","P3_12_6","P3_12_7",
"P3_12_8","P3_14","P3_16","P3_17_1","P3_17_2","P3_17_3","P3_17_4",
"P3_17_5","P3_17_6","P3_17_7","P3_17_8","P3_20","P3_21_1","P3_21_2",
"P3_21_3","P3_21_4","P3_21_5","P3_21_6","P3_21_7","P3_23"]

for dummy in dummies:
    df.loc[df[dummy] == 2, dummy] = 0
    colname = dummy + "_w"
    df[colname] = df[dummy] * df["FACTOR"]

In [9]:
# Specify the regions

df["Region"] = "Northwest"
df["Region"] = np.where(df['ENT'].isin(northeast),'Northeast', df["Region"])
df["Region"] = np.where(df['ENT'].isin(west),'West', df["Region"])
df["Region"] = np.where(df['ENT'].isin(east),'East', df["Region"])
df["Region"] = np.where(df['ENT'].isin(northcenter),'Northcenter', df["Region"])
df["Region"] = np.where(df['ENT'].isin(southcenter),'Southcenter', df["Region"])
df["Region"] = np.where(df['ENT'].isin(southeast),'Southeast', df["Region"])
df["Region"] = np.where(df['ENT'].isin(southwest),'southwest', df["Region"])

In [10]:
# I know I'm not using the following variables. Too many missing values

to_drop = ["CON","N_REN", "PAREN","P3_9_1","P3_9_2","P3_9_3","P3_9_4","P3_9_5","P3_9_6","P3_9_7","P3_9_8","P3_9_9",
           "P3_19_1","P3_19_2","P3_19_3","P3_19_4","P3_19_5","P3_19_6","P3_19_7","P3_19_8"]

for col in to_drop:
    df = df.drop([col], axis=1)

In [11]:
# We correct the gender and "Public / Private School" variables
df["gender_string"] = "female"
df["gender_string"] = np.where((df["SEXO"] == 1),'male', df["gender_string"])

df["P3_6_string"] = "public"
df["P3_15_string"] = "public"

df["P3_6_string"] = np.where((df["P3_6"] == 2),'private', df["P3_6_string"])
df["P3_15_string"] = np.where((df["P3_15"] == 2),'private', df["P3_15_string"])

In [12]:
# Save the clean file. I'm uncertain on which exact variables I'm going to use, so I want to preserve the file as it is for now.
df.to_csv("students_clean.csv", index = False)